{% extends 'base.html' %}
{% load static %}

{% block content  %}


<link rel="stylesheet" type="text/css" href="{% static 'styles/archives.css' %} ">

<div class="col-12 d-flex h-100" style="background-color: #f5f7fa">
	
	<div style="width: 23%; margin-left:20px;">
		
		<p style="text-align: center; margin-top: 15px;">Dossier Cloud NIBA Tic</p>
		
		<div class="mx-auto d-block h-75" style=" background-color: white; padding: 10px; border-radius: 10px;position:relative;left:6px;">
			{% for section in section.all %}
			<div class="mx-auto m-1 d-flex ActiveSection" >

				<i class="fa-solid fa-circle" style="color: red;font-size: 10px;margin:10px;"></i>
				<a class="ActiveA" href="{% url 'archives' section.slug %}">{{section.name}}</a>
			</div>
			{% endfor %}

			<div class="mx-autod-flex" style="padding-left:20px; margin-top:20px;">
				<i style="color: black; font-size: 15px; margin:10px;" class="fa-solid fa-plus"></i>
				<a style="margin-top: 13px; text-decoration:none; color:black;position:relative; " href="/admin/NIBA_Cloud_app/section/add/">Ajouter une section</a>
			</div>
			
		</div>
	</div>

	<div class=" d-block justify-content-around" style="width: 70%; height:620px;margin-left:20px; border-radius: 20px">
		
		<div class="d-flex justify-content-between" style="width: 100%; margin-top: 10px;">
			<div style="position: relative; right: 10px;">

				<form class="d-flex" action="{% url 'archives' "factures" %}" method="GET">
					<button type="submit" style="position: relative;left: 30px;top:5px;;background-color:white; height:20px; border:none;">			
						<i class="fa-solid fa-magnifying-glass" style="color:#ccc;"></i>
					</button>

				<input type="search" required name="requete" placeholder="Titre du Dossier" style="width: 300px; height: 35px; background-color: white; border-radius: 5px;border: 1px solid #ccc; align-items: center; padding-left: 30px;color:#a5a8a8">
				
				
				<i  class="fa-solid fa-chevron-down" style="position: relative;right: 30px; color:#ccc;"></i>
				

				</form>
			</div>
			<div style="width: 220px;padding-right: 30px;display: inline-flex; justify-content: flex-end;">
					
					<a href="/admin/NIBA_Cloud_app/dossier/add/" style="text-decoration:none; color:white;width: 190px">
					<button style="background-color: #004dcf;width: 130px; height: 35px; align-items: center; border: none; color: white; border-radius: 10px; font-size: 15px;">
						Uploader
					</button>

					<button style="height: 35px ;width:35px; background-color: white; border: none; position: relative;left: 20px; border-radius: 10px;">
						<i style="color: #cc" class="fa-solid fa-plus"></i>
					</button>

					</a>
							
			</div>
		</div>

		<div class="container col-12 d-inline-flex flex-wrap" style="margin-top: 1px;">
			
			{% for doc in section_doc %}
			<div  style="width: 22%;height: 175px; margin-right:20px;margin-top:10px;justify-content: center;border-radius: 5px; background-color: white">

				<div class="col-12 d-flex" style="justify-content: space-between;">
					<div class="col-10 ">
					<input type="checkbox" style="width: 18px ;height: 30px; margin: 5px; align-items: center; font-size: 10px;margin-left: 10px;" />
					</div>
					<button class="col-2" style=" height: 22px;  align-items: center; font-size: 20px;border: none; position: relative; top:5px; background-color: white">
						<i class="fa-solid fa-ellipsis-vertical"></i>
					</button>
					
				</div>
				<div class="mx-auto" style="width: 70px;">
					<i class="fa-solid fa-folder" style="font-size: 70px; margin-bottom: 5px;"></i>
				</div>
				<div class="col-12 justify-content-center">
					<p style="text-align: center;position: relative;top: 3px;">{{doc.name}}</p>
					<p style="text-align: center; position: relative;bottom: 10px;">20 KB</p>
				</div>
				
			</div>
			{% endfor %}	
			
			
		</div>
	</div>
</div>

{% endblock  %}