{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %} ">
	
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
</head>
<body style="background-color: #004dcf;">
	<div class="mw-100 d-flex vh-100" >
		<div class="divNav">
			<p class="brand">NIBA Cloud</p>
			
			<div class="col-12 h-75 mx-auto d-block">
				
				<span id="isActiveSection" >
					<i id="isActiveIcon" class="fa-solid fa-house isActiveIcon" ></i>
					<a id="isActiveLink" href="{% url 'acceuil' %}" >Acceuil</a>
				</span><br>
				
				<span id="isInActiveSection">
					<i class="fa-regular fa-file-zipper"></i>
					<a href="{% url 'archives' "factures" %}">Archives</a>
				</span><br>

				<span id="isInActiveSection">
					<i class="fa-regular fa-user"></i>
					<a href="">Utilisateurs</a>
				</span><br>

				<span id="isInActiveSection">
					<i class="fa-solid fa-gear"></i>
					<a href="">Parametres</a>
				</span><br>
		
			</div>
			<span id="deconnexion">
				<i class="fa-solid fa-arrow-right-from-bracket"></i>
				<a href="">Deconnexion</a>
			</span><br>
		</div>
		<div class="d-block m-3" style="width: 80%; background-color: #f5f7fa;; border-radius: 20px;">

			<div class=" mx-auto d-flex" id="headBar">

				<span class="col-7" style="display: inline-flex;">
					<p>Application > </p>
					<p style="color: #004dcf; margin-left: 5px;">Tableau de board</p>
				</span>

				<div class=" d-flex col-5 justify-content-center" id="div2">
					<span id="Inputspan">
						<input id="Input" type="text" name="search" placeholder="Rechercher">
						<i id="Inputicon" class="fa-solid fa-magnifying-glass"></i>
					</span>
					
					<i class="fa-regular fa-bell bell"></i>

					<div id="Image">
						<img src="">
					</div>
				</div>
			
			</div>
			
			<div class="divContainer mx-auto ">
				{% block content %}
				{% endblock  %}
			</div>
		</div>
	</div>

</body>
</html>



