
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">

{% block content %}
<div class="col-12 d-flex divAuth">
	<div class="col-5 col-sm-10 mx-auto d-block authDiv h-100">
		<p style="font-size: 23px;font-weight: bold;margin-bottom: 30px;position:relative;left:200px;">DASHBOARD ROAD</p>
		<div class="d-block divInput">
			<label class="label">Nom d'utilisateur</label><br>
			<input class="input" type="text" name="username">
		</div>
		<div class="d-block divInput">
			<label class="label">Authentifiant</label><br>
			<input class="input" type="password" name="password">
		</div>
		<button class="connexion"><a href="{% url 'acceuil' %}"> CONNEXION </a></button>
	</div>
	<div class="col-7 border col-sm-10 imageDiv">
		
	</div>
</div>
{% endblock %}


