.brand{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 10px;
    margin-bottom: 30px;
}

.divNav{
    width: 18%;
    height: 520px;
    display: block;
    margin-top: 23px;
    justify-content: center;
    position: relative;
    left: 5px;

}

.divNav span{
    display: inline-flex;
    margin-top: 0px;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;	
    padding-left: 20%;

}

.divNav span i{
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.divNav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    bottom: 3px;
    margin-left: 2px;
}

#deconnexion{
    position: relative;
    top: 140px;
}

#Inputspan{
    display: inline-flex;
}

#Input{
    height: 35px;
    width: 230px;
    border-radius: 20px;
    font-size: 17px;
    border: 1px solid #ccc;
    padding-left: 8px;
    background-color: #d7eef7;
}

#Inputicon{
    font-size: 16px;
    position: relative;
    right: 25px;
    top: 10px;
    color: black;
}

.bell{
    font-size: 20px;
    color: black;
    position: relative;
    left: 10px;
    top: 5px;
}

#Image{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
    left: 40px;
    top: 2px;
}

#div2{
    display: inline-flex;
    background-color: #f5f7fa;
    height: 30px;
    justify-content: space-between;
    position: relative;
    bottom: 5px;

}

#headBar{
    width: 99%;
    height: 60px;
    display: inline-flex;
    background-color: #f5f7fa;
    padding-left: 34px;
    padding-top: 10px;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    right: 1px;
    border-bottom: 1px solid #ccc;
    
}

.divContainer{
    width: 99%;
    height: 550px;
    background-color: #f5f7fa;
    
    
}

#isActiveSection{
    background-color: #f5f7fa;
    width: 100%;
    border-radius: 30px 0px 0px 30px;
}

#isInActiveSection{
    
    width: 100%;
    border-radius: 30px;
}

#isActiveIcon{
    color: blue;
}

#isActiveLink{
    color: black;
}